/* Add a dark background color to the footer */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.container {
    padding: 80px 120px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

 /* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    opacity:0.9;
}

.Ya {
    color: #FF0F0F;
}

/*Buttons */

.ya_button {
    color: #212931;
    background-color: orange;
    box-shadow: 0 0 1px;
    margin: 5px;
}

.ya_button:hover{
    background-color: #FEE067;
}


/*Links*/
#description a:link{
    color:#2d2d30;
	text-decoration: none;
}

#description a:visited {
color: #2d2d30;
text-decoration: none;
}

#description a:hover {
    color: orange;
	text-decoration: none;
}

#description a:active {
    color: #2d2d30;
	text-decoration: none;
}

#lem {
	margin-left: 20px;
	margin-right: 20px;
}

#description p{
    border-radius: 5px;
	box-shadow: 0 0 5px #9F9F93;
    margin: 0 auto;
    padding: 1em;
}