{% extends "ulster/base.html" %}

{% load static %}

{% block feedback %}

<!-- HOME PAGE -->
<div id="main-content" class="container">
  <div class="row contact-page">
    <div class="col-lg-6">
      <div class="contact-info">
        <h2>Contacts</h2>
        <p>E-mail: <a href="mailto:oksana.dereza@gmail.com" target="_top">oksana.dereza@gmail.com</a></p>
      </div> <!-- contacts -->
    </div> <!-- col-lg-6 -->

    <div class="col-lg-6">
      <div class="contact-form"> 
        <h2>Feedback</h2>
          <form class="form" action="ulster/contacts" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" type="submit" class="btn btn-default btn-lg">Send</button>
          </form>
      </div> <!-- End of contact-form -->
    </div> <!-- End of col-lg-6 -->
  </div> <!-- End of row contact-page -->
</div> <!-- End of main-content -->
<!-- END OF HOME PAGE -->
{% endblock %}
